# Homework 15

In [2]:
import numpy as np
import pandas as pd

## Excercise 1

In [3]:
df = pd.read_csv('src/horse_data.csv',
                 usecols=[0, 1, 3, 4, 5, 6, 10, 22],
                 names=['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome'],
                 na_values='?')
df.surgery = df.surgery.apply(lambda x: True if x == 1.0 else False)
df.outcome = df.outcome.replace([1.0, 2.0, 3.0], ['lived', 'died', 'was euthanized'])

df.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,False,1,38.5,66.0,28.0,3.0,5.0,died
1,True,1,39.2,88.0,20.0,NaN,3.0,was euthanized
2,False,1,38.3,40.0,24.0,1.0,3.0,lived
3,True,9,39.1,164.0,84.0,4.0,2.0,died
4,False,1,37.3,104.0,35.0,NaN,NaN,died

## Excericse 2

In [4]:
print(df[['Age', 'rectal_temperature', 'pulse', 'respiratory_rate']].describe())
print('-----------------')
print('surgery',df.surgery.mode()[0])
print('-----------------')
print('temperature_of_extremities',df.temperature_of_extremities.mode()[0])
print('-----------------')
print('pain',df.pain.mode()[0])
print('-----------------')
print('outcome',df.outcome.mode()[0])

              Age  rectal_temperature       pulse  respiratory_rate
count  300.000000          240.000000  276.000000        242.000000
mean     1.640000           38.167917   71.913043         30.417355
std      2.173972            0.732289   28.630557         17.642231
min      1.000000           35.400000   30.000000          8.000000
25%      1.000000           37.800000   48.000000         18.500000
50%      1.000000           38.200000   64.000000         24.500000
75%      1.000000           38.500000   88.000000         36.000000
max      9.000000           40.800000  184.000000         96.000000
-----------------
surgery True
-----------------
temperature_of_extremities 3.0
-----------------
pain 3.0
-----------------
outcome lived

In [16]:
def upper_bound(column):

    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    upper_bound = q3 + (1.5 * iqr)

    return upper_bound

def lower_bound(column):

    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr)

    return lower_bound

remove_outliers = df
for column in remove_outliers[['Age', 'rectal_temperature', 'pulse', 'respiratory_rate']]:
    remove_outliers = remove_outliers[remove_outliers[column].between(lower_bound(column), upper_bound(column), inclusive=True)]

remove_outliers

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,False,1,38.5,66.0,28.0,3.0,5.0,died
1,True,1,39.2,88.0,20.0,NaN,3.0,was euthanized
2,False,1,38.3,40.0,24.0,1.0,3.0,lived
4,False,1,37.3,104.0,35.0,NaN,NaN,died
6,True,1,37.9,48.0,16.0,1.0,3.0,lived
...,...,...,...,...,...,...,...,...
292,True,1,37.0,66.0,20.0,1.0,4.0,died
294,False,1,38.5,40.0,16.0,1.0,2.0,lived
296,False,1,37.2,72.0,24.0,3.0,4.0,was euthanized
297,True,1,37.5,72.0,30.0,4.0,4.0,died
299,True,1,37.2,40.0,20.0,NaN,NaN,was euthanized

## Excercise 3

In [10]:
remove_outliers[remove_outliers.isna().any(axis=1)]

# пропуски присутствуют в столбцах temperature_of_extremities и pain
# pain - качественная номинальная характеристика
# temperature_of_extremities - качественная порядковая характеристика

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
1,True,1,39.2,88.0,20.0,NaN,3.0,was euthanized
4,False,1,37.3,104.0,35.0,NaN,NaN,died
17,False,1,37.5,48.0,24.0,NaN,NaN,lived
19,False,1,39.4,110.0,35.0,4.0,NaN,lived
24,True,1,38.1,60.0,12.0,3.0,NaN,lived
25,False,1,37.8,60.0,42.0,NaN,NaN,lived
27,True,1,37.8,48.0,12.0,3.0,NaN,lived
36,False,1,38.3,112.0,16.0,NaN,NaN,was euthanized
53,False,1,38.6,40.0,20.0,NaN,NaN,lived
90,False,1,38.0,52.0,16.0,NaN,2.0,lived
94,False,1,37.5,48.0,30.0,4.0,NaN,lived
95,True,1,37.3,48.0,20.0,NaN,3.0,lived
113,True,1,36.8,60.0,28.0,NaN,NaN,died
121,True,1,38.3,80.0,40.0,NaN,4.0,was euthanized
128,True,1,37.4,84.0,20.0,NaN,2.0,was euthanized
130,True,1,37.8,30.0,12.0,NaN,NaN,died
132,False,1,38.0,48.0,20.0,3.0,4.0,NaN
149,False,1,38.7,48.0,24.0,NaN,1.0,lived
157,True,1,37.8,60.0,24.0,1.0,NaN,was euthanized
161,True,1,38.3,42.0,24.0,NaN,NaN,died
165,True,1,39.4,120.0,48.0,NaN,NaN,was euthanized
170,False,1,37.5,44.0,20.0,1.0,NaN,lived
181,False,1,37.8,48.0,14.0,NaN,3.0,lived
185,True,1,38.5,120.0,60.0,4.0,NaN,lived
190,True,1,37.1,40.0,8.0,NaN,3.0,lived
195,False,1,38.0,44.0,12.0,3.0,NaN,lived
202,True,1,37.5,48.0,40.0,NaN,NaN,was euthanized
210,True,1,37.9,68.0,20.0,NaN,2.0,died
213,True,1,37.6,45.0,12.0,3.0,NaN,lived
217,True,1,38.0,76.0,18.0,NaN,NaN,lived
232,True,1,38.5,30.0,18.0,NaN,NaN,lived
234,False,1,37.5,48.0,30.0,4.0,NaN,lived
239,True,1,38.1,70.0,22.0,NaN,5.0,was euthanized
243,True,1,38.4,92.0,20.0,1.0,NaN,lived
257,True,1,38.7,96.0,28.0,3.0,NaN,died
260,False,1,38.0,40.0,25.0,NaN,4.0,lived
263,True,1,37.1,75.0,36.0,NaN,4.0,died
268,True,1,38.2,42.0,20.0,NaN,NaN,lived
280,True,1,38.6,48.0,12.0,NaN,1.0,lived
283,True,1,38.2,72.0,18.0,NaN,NaN,lived
289,True,1,38.0,50.0,36.0,NaN,3.0,lived
299,True,1,37.2,40.0,20.0,NaN,NaN,was euthanized

In [51]:
remove_outliers['pain'].fillna(remove_outliers.pain.mode()[0], inplace=True)
remove_outliers['temperature_of_extremities'].fillna(remove_outliers.temperature_of_extremities.mode()[0], inplace=True)